
<ion-content [fullscreen]="true">
  <div class="title">
    <strong >Ingresemos un poco de información</strong>
  </div>
  <ion-item-divider></ion-item-divider>
  <div class="content">
    <div class="input-player">
      <ion-label>Ingresa en número de jugadores</ion-label>
      <ion-input type="number" max="6" min="2" step="1" class="input-player-number" placeholder="2"
      [(ngModel)]="numberOfPlayers" (ionChange) = "printNumberOfPlayer()"></ion-input>
    </div>

    <ion-item-divider></ion-item-divider>

    <ion-card *ngFor="let i of playersPlaceholders; let indexName = index" class="info-player">
          <ion-input  type="text" class="player-input-name" placeholder="{{i}}" fill="outline" [(ngModel)]="playersNames[indexName]"></ion-input>
    </ion-card>

    <ion-item-divider></ion-item-divider>

    <ion-item>
      <ion-select label="Quien Empieza?" placeholder="El pepe?">
        <ion-select-option *ngFor="let i of this.playersNames" value="{{i}}">{{i}}</ion-select-option>
      </ion-select>
    </ion-item>

  </div>

  <ion-button (click) ="startGame()"  class="start-button" shape="round">Jugar</ion-button>

</ion-content>
