.input-player{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
}

.input-player-number{
    width: 10%;
    background-color: rgba(165, 165, 170, 0.709);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.title{
    text-align: center;
    margin: 2rem auto 0rem auto;
    font-size: 1.5rem;
}

.players-name-input{
    padding: 1rem;
}


.player-label{
    margin-right: 10%;
}

.player-input-name{
    width: 50%;
}

.info-player{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem
}

.start-button{
    width: 90%;
    margin-left:5%;
    margin-right: 5%;
}