<!-- 
 
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clue</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!--Who?-->
    <strong>Who?</strong>
    <ion-grid>
      <ion-row *ngFor="let i of who">
        <ion-col>{{i}}</ion-col>
        <ion-col>
          <!--TODO: change input form-->
            <input type="radio">
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--Who?-->
    <strong>With?</strong>
    <ion-grid>
      <ion-row *ngFor="let i of with">
        <ion-col>{{i}}</ion-col>
      </ion-row>
    </ion-grid>


    <!--Where?-->
    <strong>Where?</strong>
    <ion-grid>
      <ion-row *ngFor="let i of where">
        <ion-col>{{i}}</ion-col>
      </ion-row>
    </ion-grid>

  </div>


</ion-content>