<!--Main page-->
<ion-header [translucent]="true">
  <div class="toolbar">
    <img src="assets/clueLogo.png" class="clueLogo"/>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <!--Who?-->
    <strong>Who?</strong>
    <ion-grid>
      <ion-row *ngFor="let i of who">
        <ion-col>{{i}}</ion-col>
        <ion-col *ngFor="let _ of repetitions" size="1" >
          <!--TODO: change input form-->
            <input type="radio">
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--Who?-->
    <strong>With?</strong>
    <ion-grid>
      <ion-row *ngFor="let i of with">
        <ion-col>{{i}}</ion-col>
        <ion-col *ngFor="let _ of repetitions" size="1" >
          <!--TODO: change input form-->
            <input type="radio">
        </ion-col>
      </ion-row>
    </ion-grid>


    <!--Where?-->
    <strong>Where?</strong>
    <ion-grid>
      <ion-row *ngFor="let i of where">
        <ion-col>{{i}}</ion-col>
        <ion-col *ngFor="let _ of repetitions" size="1" >
          <!--TODO: change input form-->
            <input type="radio">
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>