#container {
  text-align: center;
  left: 0;
  right: 0;

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}


.clueLogo{
  width: 20%;
  margin: 0.5rem;
}

.toolbar{
  display: flex;
  justify-content: center;
  background-color: #fff;
}

ion-col {
  background-color: #2c4968;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}


ion-icon{
  margin-right: 10%;
}


strong{
  color: #2c4968;
}


.selected-row{
  background-color: #c76249;
}